.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    align-items: center;
    min-width: 40px;
}